.body{
  font-family: 'Lato';
}
.lms{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #ED7966;

}
.login-form{
  max-width: 406px;
  margin: auto;
  
}
.login-div{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.login-p{
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #09174A;
}

.welcome-p{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #646464;
}

.login-btn{
  width: 100%;
  background-color: #ED7966 !important; 
  border-radius: 5px;
  border: none;
}
.nav-link{
  color: black !important;
}

.nvbar{
  width: 17%;
  height: 100vh;
  background-color: #ED7966;
}

.lms2{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: white;
}
a:link{
  text-decoration: none;
  color: white !important;
}
a{
  color: white !important;
}

.rwt__tablist[aria-orientation="vertical"] {

  border-right:none !important;
  margin-right: 1rem;
}

.rwt__tab[aria-selected="false"] {
  position: relative;
}
.rwt__tablist[aria-orientation="vertical"] .rwt__tab[aria-selected="true"]:after {
  right: -1px;
  top: 0;
  height: 100%;
  border-right: none !important;
}
#vertical-tab-one-tab ,#vertical-tab-two-tab,#vertical-tab-three-tab{
  border-radius: 12px;
  color: aliceblue;
}
.tabbs{
  width: 250px;
}

.pges{
  background-color: white;
  height: 100vh;
  width: 83%;
  margin-left: auto;
}

.pg-container{
  width: 90%;
  margin: auto;
}
/* .searchinput{
  border-color: #CECECE;
  border-radius: 5px;
} */

.orngbtn{
  border: none;
  background-color: #ED7966;
  color: white;
  border-radius: 5px;
  height: 40px;
  padding: 10px 20px 10px 20px;
}

.modal-labels{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #09174A;
}

.navcomp{
  /* border: 1px solid; */
  border-radius: 8px;
  /* background: #FFFFFF;
  opacity: 0.12; */
}