@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css");
.body {
  font-family: "Lato";
}
.lms {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #ed7966;
}
.login-form {
  max-width: 406px;
  margin: auto;
}
.login-div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.login-p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #09174a;
}

.welcome-p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #646464;
}

.login-btn {
  width: 100%;
  background-color: #ed7966;
  color: white;
  border-radius: 5px;
  border: none;
}
.nav-link {
  color: black !important;
}

.nvbar {
  width: 17%;
  height: 100vh;
  background-color: #ed7966;
  position: fixed;
}

.lms2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: white;
}
a:link {
  text-decoration: none;
  color: white !important;
}
a {
  color: white !important;
}

.rwt__tablist[aria-orientation="vertical"] {
  border-right: none !important;
  margin-right: 1rem;
}

.rwt__tab[aria-selected="false"] {
  position: relative;
}
.rwt__tablist[aria-orientation="vertical"]
  .rwt__tab[aria-selected="true"]:after {
  right: -1px;
  top: 0;
  height: 100%;
  border-right: none !important;
}
#vertical-tab-one-tab,
#vertical-tab-two-tab,
#vertical-tab-three-tab {
  border-radius: 12px;
  color: aliceblue;
}
.tabbs {
  width: 250px;
}

.pges {
  background-color: 
  #fffbfa;
  height: 100vh;
  width: 83%;
  margin-left: auto;
}

.pges2 {
  background-color: white;
}

.pg-container {
  width: 90%;
  margin: auto;
}
/* .searchinput{
  border-color: #CECECE;
  border-radius: 5px;
} */

.orngbtn {
  border: none;
  background-color: #ed7966;
  color: white;
  border-radius: 5px;
  height: 40px;
  padding: 10px 20px 10px 20px;
}

.modal-labels {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #09174a;
}

.navcomp {
  /* border: 1px solid; */
  border-radius: 8px;
  background-color: #ed7966;
  /* opacity: 0.12;  */
  max-width: 100%;
  margin-left: 0.5rem;
  border: none;
  color: white;
}

.navcomp1 {
  padding-right: 4rem;
}
.navcomp2 {
  padding-right: 5.5rem;
}
.navcomp3 {
  padding-right: 5.5rem;
}
.navcomp:focus {
  background-color: #ec8d7e;
}

.pg-headings {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #646464;
}

.pg-items {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #09174a;
}

.stdnts {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(9, 23, 74, 0.54);
}

.stdnt-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #09174a;
}
.issued-books {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #282829;
}

.stdnt-details-div {
  border-right: 1px solid !important;
  border-color:#ECECEC;
  ;
}

.stdnt-name2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #282829;
}
.stdnt-email {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #414141;
}

.lbls {
  font-weight: 500;
  font-size: 14px;

  color: #8b8b8b;
}

.nmbrs{
  font-weight: 500;
  font-size: 14px;
  color: #414141;
}