@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css");
.body {
  font-family: "Lato";
}
.lms {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #ed7966;
}
.login-form {
  max-width: 350px;
  margin: auto;
}
.login-div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.login-p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #09174a;
}

.welcome-p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #646464;
}

.login-btn {
  width: 100%;
  background-color: #ed7966;
  color: white;
  border-radius: 5px;
  border: none;
}
.nav-link {
  color: black !important;
  border-bottom: 10px;
}

.nvbar {
  width: 17%;
  height: 100%;
  background-color: #ed7966;
  position: fixed;
  z-index: 1 !important;
}

.btn-container {
  z-index: -1 !important;
}

/* .btn{
  color: white !important;
} */

.lms2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: white;
}
a:link {
  text-decoration: none;
  color: white !important;
}
a {
  color: white !important;
}

.rwt__tablist[aria-orientation="vertical"] {
  border-right: none !important;
  margin-right: 1rem;
}

.rwt__tab[aria-selected="false"] {
  position: relative;
}
.rwt__tablist[aria-orientation="vertical"]
  .rwt__tab[aria-selected="true"]:after {
  right: -1px;
  top: 0;
  height: 100%;
  border-right: none !important;
}
#vertical-tab-one-tab,
#vertical-tab-two-tab,
#vertical-tab-three-tab {
  border-radius: 12px;
  color: aliceblue;
}
.tabbs {
  width: 250px;
}

.pges {
  background-color: #fffbfa;
  height: 100%;
  width: 83%;
  margin-left: auto;
  min-width: 800px;
}

.pges2 {
  background-color: white;
}

.pg-container {
  width: 90%;
  margin: auto;
}
/* .searchinput{
  border-color: #CECECE;
  border-radius: 5px;
} */

.orngbtn {
  border: none;
  background-color: #ed7966;
  color: white;
  border-radius: 5px;
  height: 40px;
  padding: 10px 20px 10px 20px;
}

.modal-labels {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #09174a;
}

.logodiv {
  padding-left: 1.5rem;
}

.navcomp {
  border: 1px solid;
  border-radius: 8px;
  background-color: #ed7966;
  /* opacity: 0.12;  */
  max-width: 100%;
  margin-left: 0.5rem;
  border: none;
  color: white !important;

}

.navcomp1 {
  padding-right: 4rem !important;
}
.navcomp2 {
  padding-right: 5.5rem !important;
}
.navcomp3 {
  padding-right: 5.5rem !important;
}
/* .navcomp:focus {
  background-color: #ec8d7e;
} */
.nvbar-btn{
  background-color: #ec8d7e !important;

}

.pg-headings {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #646464;
}

.pg-items {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #09174a;
}

.stdnts {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(9, 23, 74, 0.54);
  cursor: pointer;
}

.stdnt-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #09174a;
}
.issued-books {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #282829;
}

.stdnt-details-div {
  border-right: 1px solid !important;
  border-color: #ececec;
}

.stdnt-name2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #282829;
}
.stdnt-email {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #414141;
}

.lbls {
  font-weight: 500;
  font-size: 14px;

  color: #8b8b8b;
}

.nmbrs {
  font-weight: 500;
  font-size: 14px;
  color: #414141;
}

.error {
  color: #ed7966;
}

svg {
  cursor: pointer;
}

.logout {
  width: 16.5%;
  position: fixed;
  bottom: 40px;
}

.username {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}

.useremail {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: #ffffff;
}

.acive{
  background-color: #09174a;
}

.row{
  flex-wrap: nowrap !important;
}
.modal-backdrop{
  width: 100% !important;
  height: 100% !important;
} 
.register{
  
font-family: 'Lato';
font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #646464;
}
.orng-register{
 color: #ED7966;
}

@media (max-width: 936px) {
  .pges {
    margin-left: 150px !important;
  }
}

@media (max-width: 768px) {
  .logodiv {
    padding-left: 0.4rem !important;
  }

  .navcomp {
    padding-left: 0px !important;
    display: flex !important;
    justify-content: center !important;
    margin-left: 0rem;
  }
}

