.student-pges {
    background-color: #fbfbff;
    height: 100%;
    width: 83%;
    margin-left: auto;
    min-width: 800px;
  }
  .sort{
    width: 180px !important;
    border: none !important;
  }

  .sort-options{
    padding: 20px !important;
  }

  .student-ul,.student-li{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #646464 !important;
    cursor: pointer ;
    padding-bottom: 10px;
  }
  /* .student-li{
    width: 180px;
  } */
  .student-li-active{
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    /* identical to box height */
    color: #09174A !important;
    border-bottom: 3px solid  #0C39C7;
    ;

  }

  /* #fill-tab-example-tab-home,#fill-tab-example-tab-profile,#fill-tab-example-tab-longer-tab{
    width: 500px !important;
    margin-right: 0px !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #09174A;
    opacity: 0.6;
  }
  .nav-item{
    width: 100px !important;
  }
   */
  @media (max-width: 936px) {
    .student-pges {
      margin-left: 150px !important;
    }
  }